@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply px-4 py-2 rounded-xl select-none lg:px-8 lg:py-4 md:text-xl focus:outline-none focus:ring focus:ring-opacity-75 font-extralight;
  }

  .btn-alert {
    @apply bg-red-500 text-red-100;
  }

  .btn-info {
    @apply bg-blue-500 text-blue-100;
  }

  .btn-usual {
    @apply bg-gray-500 text-gray-100;
  }

  .btn-success {
    @apply bg-green-400 text-green-100;
  }
}

@layer utilities {
  .no-tap-highlight {
    -webkit-tap-highlight-color: transparent;
  }

  @variants responsive {
    .touch-pan-y {
      touch-action: pan-y
    }
  }
}

/* fast-start-slow-end */
.fade-fs-se-enter {
  opacity: 0;
}
.fade-fs-se-enter-active {
  opacity: 1;
}
.fade-fs-se-exit {
  opacity: 1;
}
.fade-fs-se-exit-active {
  opacity: 0;
  transition: opacity 1.5s;
}
